* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
}

section {
  width: 100%;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.night {
  background-image: url('./assets/01.jpg');
}

.morning {
  background-image: url('./assets/02.jpg');
}

.day {
  background-image: url('./assets/03.jpg');
}

.evening {
  background-image: url('./assets/04.jpg');
}

.clock {
  font-size: 6em;
  font-weight: normal;
}

.date {
  font-size: 2em;
}

.city-name, .temperature, .todo_header {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

.clock-and-date, .weather-widget {
  user-select: none;
}

.clock-and-date {
  flex-grow: 1;
  margin: auto;
}

.todo {
  flex-grow: 1;
  margin: auto;
}

.transparent-input {
  background: rgba(0,0,0,0.35) !important;
  color: #fff !important;
}

.transparent-input::placeholder {
  color: #fff;
  font-size: 1.25em;
}

.form-control{
  width: 500px;
}

@media (max-width: 720px) {
  .form-control {
    width: 70%;
  }
}
