* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
}

hr {
  width: 250px;
  margin: 0 auto;
  border: 1px solid #000;
}

section {
  width: 100%;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  transition: background-image 1s ease-in-out;
}

.night {
  background-image: url('./assets/01.jpg');
}

.morning {
  background-image: url('./assets/02.jpg');
}

.day {
  background-image: url('./assets/03.jpg');
}

.evening {
  background-image: url('./assets/04.jpg');
}

.clock {
  font-size: 6em;
  font-weight: normal;
}

.date {
  font-size: 2em;
}

.city-name, .temperature, .todo_header {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

.clock-and-date, .weather-widget {
  user-select: none;
}

.clock-and-date {
  flex-grow: 1;
  margin: 100px;
}

.todo {
  flex-grow: 1;
  overflow-y: auto;
}

.todo::-webkit-scrollbar {
  width: 5px;
}

.todo::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 50%;
}

.todo::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 10px;
}

.todo::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}

.transparent-input {
  background: rgba(0, 0, 0, 0.30) !important;
  color: #fff !important;
  border: none;
}

.transparent-input:disabled {
  background: rgba(0, 0, 0, 0.20) !important;
}

.new-task {
  text-align: center;
}

.transparent-input::placeholder {
  color: #fff;
  font-size: 1.25em;
}

.form-control, .input-group {
  width: 500px;
}



input:focus::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.65) !important;
}

input:focus {
  caret-color: #fff;
}

.btn-outline-secondary:hover, .input-group-text:hover {
  background-color: rgba(13, 110, 254, 0.5) !important;
}

.btn-outline-secondary {
  background: rgba(0, 0, 0, 0.20) !important;
  width: 45px;
  padding: 0;
}

.input-group-text {
  background: rgba(0, 0, 0, 0.20) !important;
  border: none;
}

.form-check-input:hover {
  cursor: pointer;
}

@media (max-width: 720px) {
  .form-control {
    width: 70%;
  }
}
